{% extends 'video/base.html' %}

{% block title %}
Video List
{% endblock %}

{% block body %}
<h1>Products:</h1>

<div>

    {% if not object_list %}
    <h3>No products yet</h3>
    {% else %}
    {% for video in object_list%}

    <div>
        <p><a href="{% url 'video:video_detail' slug=video.slug %}"
        >slug: {{ video.slug }}</a></p>
        <p>run_string: {{ video.run_string }}</p>
        <p>file: {{ video.file }}</p>
        <p>created_at: {{ video.created_at }}</p>
    </div>

    {% endfor %}

    {% endif %}
</div>

<div>
    <a href="{% url 'video:video_create' %}">Create a new video</a>
</div>

{% endblock %}
