{% extends 'video/base.html' %}

{% block title %}
Video List
{% endblock %}

{% block body %}
<h1>Video:</h1>

<div>

    {% if not object_list %}
    <h3>No video yet</h3>
    {% else %}
    {% for video in object_list%}

    <div>
        <p>run_string: <a href="{% url 'video:detail_video' slug=video.slug %}">
             {{ video.run_string }}</a></p>
        <p>file: {{ video.file }}</p>
        <p>created_at: {{ video.created_at }}</p>
    </div>
    <br>
    {% endfor %}

    {% endif %}
</div>

<div>
    <a href="{% url 'video:create_video' %}">Create a new video</a>
</div>

{% endblock %}
